main{
  height: 100vh;
  width: 100vw;
  background-color: rgba(238, 221, 204, 0.577);
  display: flex;
  align-items: center;
  justify-content: center;
}

.table{
  width: 90%;
  height: 400px;
}

p-table{
}


