<main>
  <div class="table">
    <p-table class="p-3" [value]="listaQuartos" [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="caption">
          <div class=" d-flex teste align-items-center justify-content-between">
              <h4>Products</h4>
              <i class="bi bi-arrow-clockwise"></i>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Reviews</th>
              <th>Status</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template class="p-3" pTemplate="body" let-listaQuartos>
          <tr>
            <app-row-table [rowData]="listaQuartos"></app-row-table>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              <!--In total there are {{products ? products.length : 0 }} products.-->
          </div>
      </ng-template>
    </p-table>

  </div>
</main>
